 body { 
            margin:0;
			padding:0;
			font-family: Arial, Verdana, Helvetica, sans-serif; 
			font-size: 14px; 
			line-height: 25px; 
			color:#fff;
			background-color:#cd3265;
			background-image:url('../image/bg.jpg');
	  }
	
	
	@font-face {
	font-family: 'Conv_Amperzand';
	src: url('../fonts/Amperzand.eot');
	src: local('?'), url('../fonts/Amperzand.woff') format('woff'), url('../fonts/Amperzand.ttf') format('truetype'), url('../fonts/Amperzand.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	color:#ffffff;
}


	
  #page{
    width:960px;
    margin:0 auto;
  }
  
  #page #header{
    height:80px; 
	width:960px;
	overflow:hidden;
  }
  
/***************Start of header section *********************/
  
  
  #page #header ul.section{
    height:0 auto;
    overflow:hidden;	
	list-style-type:none;
	width:100px;
  }   
  
  #page #header ul.section li{
    float:left; 
  }   
  
  #page #header ul.section li a{
     text-decoration:none;
	 margin:10px 5px 0 0;
	 
  }
  
 
  #page #header ul.section li a.email{
    background: url("../images/icon.gif"); 
	background-position: 0 -508px;
	display:block;
	width:31px;
	height:21px;
  }
  
  #page #header ul.section li a.email:hover{
    background: url("../images/icon.gif"); 
	background-position: 0 -437px;
	background-repeat:no-repeat; 
  }

  #page #header ul.section li a.home{
	background: url("../images/icon.gif"); 
	background-position: 0 -278px; width: 23px; height: 21px;
	display:block;
	width:30px;
	height:21px;
  }
  

  #page #header ul.section li a.home:hover{
	background: url("../images/icon.gif"); 
	background-position: 0 -207px; 
	
  }
  
/***************End of header section *********************/  

/***************Start of header navigation *********************/  
  
  #page #header ul.navigation{
    overflow:hidden;
	height:0 auto;
	float:right;
	list-style-type:none;
	margin-top:-60px;
  }
  
  #page #header ul.navigation li{
     float:left;
	 padding:0 10px;
	 height:80px;
	 line-height:80px;
  }
  
  #page #header ul.navigation li a{
     text-decoration:none;
	 color:#c2a8c3;
	 font-size:18px;
  }
  
  #page #header ul.navigation li a:hover{
   text-decoration:underline;
   color:#fff7ff;
  
  }
  
  #page #header ul.navigation li a.active{
   text-decoration:underline;
   color:#fff7ff;
  
  }
/***************End of header navigation *********************/  		

/***************Start of Body Style *********************/  

    #page #body{
    
	background: url("../images/bg-page.jpg"); 
	background-position: center top; 
	background-repeat:no-repeat; 
    width:960px;
	padding-top:140px;
	height:auto;
	overflow:hidden;
	
   }

   #page #body a#logo{
     position:relative;
	 top:-75px;
	 left:635px;
	 text-decoration:none;
   }
   
   #page #body a#logo img{
     border:0;
   }
   
    #page #body #content{
	  width:940px;
      padding: 0 10px; 	  
	  height:470px; 
	}
	
/***********Start of Services**********************/
	#page #body #content h3{
	  background: url("../images/bg-heading.gif"); 
	  background-position: center; 
	  background-repeat:no-repeat; 
	  width:428px;
	  height:79px;
	  margin:0 auto;
	  line-height:60px;
	  text-align:center;
	
	  font-size:50px;
	  font-family: 'Conv_Amperzand',Arial;
	  font-weight:normal;
	}
	
	#page #body #content ul.section{
      margin:45px 0 0 30px;
	  padding:0;
	  list-style-type:none;
	  overflow:hidden;
	}	
	
	#page #body #content ul.section li{
	  float:left;
	  width:300px;
	  height:105px;
	  margin-bottom:35px;
	  
	}
	
	#page #body #content ul.section li h2{
	  padding:10px 10px 10px 10px;
	  color:#694606;
	  font-size:20px;
	  height:95px;
	  vertical-align:center;
	}
	
	#page #body #content ul.section li h2 a{
	  margin:20px 0 0 0;
	  padding:0 10px 0 0;
	  color:#694606;
	  font-size:20px;
	  height:105px;
	  vertical-align:center;
	  text-decoration:none;
	}
	
	#page #body #content ul.section li h2 a:hover{
	  color:#5C1E69;
	}
	
	
	#page #body #content ul.section li img{
	  border:none;
	  float:left;
	  margin-right:10px;
	  background: url("../images/bg-home-thumbnail.gif");
	  background-repeat:no-repeat;
	  padding:4px 4px 4px 5px;
	  
	}	

	#page #body #content ul.navigation{
	  list-style-type:disc;
	  margin:0 auto;
	  padding:0;
	  overflow:hidden;
	  width:480px;
	  height:31px;
	  background: url("../images/services-menu-bar.gif");
	  background-repeat:no-repeat;
	  
	}	
	
	#page #body #content ul.navigation li{
	  list-tyle-type:none;
	  float:left;
	  margin:0 20px;
	  line-height:31px;
	}
	#page #body #content ul.navigation li.first{
	  
	  list-style-type:none;
	}
	
	#page #body #content ul.navigation li a{
	  text-decoration:none;
	  color:#ffe6d5;
	}
	
	#page #body #content ul.navigation li a:hover{
	  text-decoration:none;
	  color:#ceb388;
	}
	#page #body #content ul.navigation li span{
	  color:#ceb388;
	}
/***********End of Services**********************/
	 
/***************End of Body Style *********************/  
		
/***************Start of Featured Style *********************/  
	
	#page #body #featured {
    background-color: #FFFFFF;
    border-style: solid;
    border-top: thin solid #afb3b6;
    border-width: thin 0 1px;
    height: 199px;
    overflow: hidden;
    width: 960px;
}
	
	#page #body #featured ul {
    background-color: #DEE6E8;
    height: 199px;
    list-style-type: none;
    margin: 1px 0;
    overflow: hidden;
    padding: 0;
}
	

	
	#page #body #featured ul li{
	   margin:0;
	   padding:0;
	   float:left;
	   width:220px;
	   padding: 0 10px;
	   text-align:center;
	   overflow:hidden;
	}
	
	#page #body #featured ul li a{
	  text-decoration:none;
	}
	
	#page #body #featured ul li a img{
	  border-color:#ffffff;
	  border-width:2px;
	  margin-top:10px;
	}
	
	#page #body #featured ul li h2{
	  margin:10px 0 0 0;
	  color:#5c1e69;
	  font-size:20px;
	}
	
	#page #body #featured ul li h2 a{
	  margin:10px 0 0 0;
	  color:#5c1e69;
	  font-size:20px;
	}
	#page #body #featured ul li h2 a:hover{
	  margin:10px 0 0 0;
	  color:#fff;
	  font-size:20px;
	}
	
	#page #body #featured ul li span{
	  margin:0;
	  color:#5c1e69;
	}
	
/***************End of Featured Style *********************/  
	
	
	
	
	

/***********Start of Rates style**********************/
	
	#page #body .content {
	  
	 
	  background: url("../images/bg-content-top.jpg");
	  background-repeat:no-repeat;
	  background-position:-top center;
	  
	  background-color:#dee6e8;
	  height:708px;
	  padding: 20px 10px 0 10px;
      width: 940px;
	
	  border-style: solid;
	  border-bottom: thin solid #FFFFFF;
	  border-width: thin 0 1px;
	  border-top:none;
	  
	}
	#page #body .content h3{
	  width:940px;
	  height:79px;
	  margin:0 auto;
	  line-height:70px;
	  text-align:center;
	  font-family:Arial;
	  font-size:50px;
	  color:#630c6f;
	  font-family: 'Conv_Amperzand';
	  font-weight:normal;
	}
	
	#page #body .content ul.section{
	  margin:45px 0 0 0;
	  padding:0;
	  list-style-type:none;
	  overflow:hidden;
	  width:940px;
	  
	}	
	
	#page #body .content ul.section li{
	  
	  float:left;
	  width:300px;
	  height:220px;
	  margin-bottom:35px;
	  padding:0 10px 0 0;
	 
	}
	
	#page #body .content ul.section li h2{
	  margin:20px 0 0 0;
	  padding:0 10px;
	  color:#694606;
	  font-size:20px;
	  height:90px;
	  vertical-align:center;
	  
	  
	}
	
	#page #body .content ul.section li h2 a{
	  margin:20px 0 0 0;
	  padding:0 10px 0 0;
	  color:#630c6f;
	  font-size:20px;
	  height:105px;
	  vertical-align:center;
	  text-decoration:none;
	  
	}
	
	#page #body .content ul.section li h2 a:hover{
	 color:#676F71;
	}
	
	
	#page #body .content ul.section li img{
	  border:none;
	  float:left;
	  background: url("../images/bg-home-thumbnail.gif");
	  background-repeat:no-repeat;
	  padding:4px 4px 4px 5px;
	  margin:0 10px 0 0;
	  
	}
	
	#page #body .content ul.section li p{
	  padding:0 10px 0 0;
	  margin:0;
	  color:#676f71;
	  
	}
	
	#page #body .content ul.section li p a{
	  color:#676f71;
	}	
	
	#page #body .content ul.section li p a:hover{
	  color:#630C6F;
	}	
/***********End of Rates style**********************/	
	

/***********Start of About style**********************/	
   #page #body .content ul{
     list-style-type:none; 
	  overflow:hidden;
	  width:940px;
	  margin:0;
	  padding:0;
   }
    #page #body .content ul li{
	 clear:none;
	 overflow:hidden;
	 margin:0 0 20px 0;
	 padding:0;
	}
	
	
	#page #body .content ul li img{
     float:right;
	 margin-left:10px;
	 border:0;
    }
   
	#page #body .content ul li h2{
      margin-bottom:5px;
      padding:0;
	}
	
	#page #body .content ul li span{
	color: #630C6F;
	}
	
	#page #body .content ul li h2 a{
          color: #630C6F;
    font-size: 20px;
    text-decoration: none;
	}
	#page #body .content ul li p{
	 color:#707070;
	 width:auto;
	 font-family:Arial;
	 font-size:14px
	 margin-bottom:0;
	 
	}
	
	#page #body .content ul li p a{
	 color:#676f71;
	}
	#page #body .content ul li p a:hover{
    color:#630C6F;
	}
	
	#page #body .content ul li p span{
	  display:block;
	}
/***********End of About style**********************/		
	

/***********Start Book an Appointment style***********************/	
    #page #body .content table.section{
	   width:940px;
	   margin-bottom:50px;
	}
    
	#page #body .content table.section tr{
	
	}
	
	#page #body .content table.section td{
	  width:470px;
	}
	#page #body .content table.section td.even{
	  text-align:right;
	  padding-right:10px;
	  width:460px;
	}
	
	#page #body .content table.section td select{
	  background: url("../images/input2.gif"); 
	  background-position: center;
	  background-repeat:no-repeat;
	  width:360px;
	  border:0;
	  padding:12px 15px 12px 5px;
	  overflow:hidden;
	  -webkit-appearance: none;
	   text-overflow: ellipsis;
	   color: #676F71;
	   text-align:center;
	   font-size:14px;
	}
	
	
	#page #body .content table.section td input{
	  background: url("../images/input.gif"); 
	  background-position: center;
	  background-repeat:no-repeat;
	  width:450px;
	  border:0;
	  padding:20px 5px;
	  color: #676F71;
	  font-size:14px;
	}
	
	
	#page #body .content table.section td button{
	  background: url("../images/button-submit.gif"); 
	  background-position: center;
	  background-repeat:no-repeat;
	  width:151px;
	  height:42px;
	  border:0;
	  margin-top:30px;
	}
	
	#page #body .content table.section td.even span{
		color: #630C6F;
		font-weight:bold;
		float:left;
		padding-left:90px;
		
		
	}
	
	
	#page #body .content table.section td span{
		color: #630C6F;
		font-weight:bold;
		font-size:20px;
	}
	
	#page #body .content p {
    color: #676F71;
    margin: 0;
    padding: 0 10px 0 0;
    }
	
	#page #body .content p a{
	 color: #676F71;
	}
	
	#page #body .content p a:hover{
	 color: #630C6F;
	}
	
/***********End of Book an Appointment style**********************/	


/***********Start of Our Package style**********************/	


   #page #body .content ul.package{
     margin:0;
	 padding:0;
	 width:940px;
	 overflow:hidden;
   }
	
   #page #body .content ul.package li{
     width:450px;
	 height:310px;
	 padding:0 10px;
	 float:left;
	 margin-bottom: 20px;
	 overflow: hidden;
   }	
   
   
   #page #body .content ul.package li p img{
      float:left;
	  margin:0 10px 0 0;
	  border:0;
   }
   
   #page #body .content ul.package li p{
     color: #676F71;
	 margin:0;
   }
   
   #page #body .content ul.package li p a{
     color: #676F71;
   }
   #page #body .content ul.package li p a:hover{
     color: #630C6F;
   }
   
   #page #body .content ul.package li h2{
     margin:0; 
   }
   #page #body .content ul.package li h2 a{
     color: #630C6F;
	 font-size:20px;
   }
   
   
   #page #body .content ul.package li h2 a:hover{
     color: #676F71;
   }
   
   #page #body .content ul.package li span{
     color: #630C6F;
   }
   
   #page #body .content ul.package li ul{
      
	  list-style-type:disc;
	  margin:0;
	  padding:0;
   }
   
   #page #body .content ul.package li ul li{
      margin:0;
	  height:auto;
	  clear:both;
	  color:#676F71;
	  
	 background: url("../images/bullet.gif"); 
	 background-position:  left 10px;
	 background-repeat:no-repeat;
   }
 
/***********End of Our Package style**********************/	


/***********Start of Our Blog style**********************/	

#page #body .content .article{
   width:540px;
   float:left;
   margin-right:25px;
   overflow:hidden;
}
#page #body .content .article ul{

  margin:0;
  padding:0;
  overflow:visible;
  width:540px;
}

#page #body .content .article ul li p{
   width:540px;
   margin-bottom:20px;
}

#page #body .content .aside{
   width:375px;
   float:left;
   overflow:hidden;
}

#page #body .content .aside ul {
  
}

#page #body .content .aside ul li h2{
  margin-bottom:0;
  pading:0;
}

#page #body .content .aside ul li span{
 color: #630C6F;
 margin:0;
 padding:0;
  
}
#page #body .content .aside ul li{
  overflow:visible;
  width:375px;
}

#page #body .content .aside ul li p{
  clear:both;
  width:375px;
  margin-top:0;
}


/***********End of Our Blog style**********************/	 


/***************Start of Footer Style *********************/  

    #page #footer{
	background: url("../images/bg-page-bottom-curve.gif"); 
	background-position: center bottom;
	background-repeat:no-repeat;
    width:960px;
	height:215px;
	background-color:#ffffff;
	color:#7c5013;
	
	
	background-color: #FFFFFF;
    border-style: solid;
    border-top: thin solid #afb3b6;
    border-width: thin 0 1px;
	border-bottom:none;
   }
   
  
   
   #page #footer ul {
      overflow:hidden;
	  list-style-type:none;
	  margin:0 15px;
	  padding:0;
	  width:930px;
	  height:215px;
   }
   
   #page #footer ul li{
     float:left;
	 overflow:hidden;
	 margin:0;
	 padding:0;
   }
   
   #page #footer ul li#section{
     width:570px;
	 margin:0;
	 padding:0;
	 overflow:hidden;
	 height:215px;
   }
   
   #page #footer ul li#section h2{
      margin:20px 0 10px 0;
	  font-size:14px;
   }
   
   #page #footer ul li#section ul{
     overflow:hidden;
	  width:570px;
	  height:auto;
	  margin:0;
	  padding:0;
   }
   
   #page #footer ul li#section ul li{
     width:570px;
	 margin:0;
	 padding:0;
	 height:35px;
	 line-height:35px;
   }
   
   #page #footer ul li#section ul li p{
     width:auto
	 overflow:hidden;
	 float:left;
	 height:35px;
	 line-height:35px;
	 margin:0;
	 padding:0;
   }
   
   #page #footer ul li#section ul li span{
     float:left; 
	 margin-left:10px;
	 font-style:Italic;
   }
   
   
   #page #footer ul li.connect{
     width:130px;
	 height:215px;
	 overflow:hidden;
   }
   
   #page #footer ul li.connect h2{
    margin:20px 0 10px 0;
	font-size:14px;
   }
	#page #footer ul li.connect ul{
	  margin:0;
	 padding:0;
	}
  
   #page #footer ul li.connect ul li{
     width:130px;
	 clear:both;
	 
	 height:35px;
	 line-height:35px;
   }
   
   #page #footer ul li.connect ul li a{
     font-size:13px;
   }
   #page #footer ul li.connect ul li a:hover{
	 opacity:0.7;
	 filter:alpha(opacity=70); 
   }
   
   #page #footer ul li.connect ul li a.facebook{
     background: url("../images/icon.gif");
	background-position: 0 -65px; 
	
	background-repeat:no-repeat;
	display:block;
	text-decoration:none;
	padding-left:40px;
	color:#7c5013;
   }
   
   #page #footer ul li.connect ul li a.twitter{
    background: url("../images/icon.gif");
	 background-position: 0 -646px;
	background-repeat:no-repeat;
	display:block;
	text-decoration:none;
	padding-left:40px;
	color:#7c5013;
   }
   
   #page #footer ul li.connect ul li a.youtube{
     background: url("../images/icon.gif");
	 background-position: 0 -714px;
	 background-repeat:no-repeat;
	 display:block;
	 text-decoration:none;
	 padding-left:40px;
	 color:#7c5013;
   }
   
   #page #footer ul li.connect ul li a.flicker{
     background: url("../images/icon.gif");
	 background-position: 0 -130px;
	 background-repeat:no-repeat;
	 display:block;
	 text-decoration:none;
	 padding-left:40px;
	 color:#7c5013;
   }
   
   
   #page #footer ul li.section{
     width:230px;
	 height:215px;
	 margin:0;
	 padding:0;
	 overflow:hidden;
   }
   
   
   #page #footer ul li.section h2{
     margin:20px 0 10px 0;
	 font-size:14px;
   }
   
   #page #footer ul li.section ul {
     width:230px;
	 height:140px;
	 margin:0;
   
   }
   
   #page #footer ul li.section ul li{
     width:190px;
	 margin:0 0 10px 0;
	 padding:0;
	 clear:both;
	 height:35px;
	 overflow:hidden;
	 
   }
     
	#page #footer ul li.section ul li:hover{ 
     /*
	 opacity:0.7;
	 filter:alpha(opacity=70); 
	 */
	}
   #page #footer ul li.section ul li p{
    height:35px;
	line-height:35px;
	margin:0;
   }
   
    #page #footer ul li.section ul li.email{
	 background: url("../images/icon.gif");
	 background-position: 0 7px;
	 background-repeat:no-repeat;
	 display:block;
	 text-decoration:none;
	 padding-left:40px;
	 color:#7c5013;
	}
	#page #footer ul li.section ul li.phone{
	 background: url("../images/icon.gif");
	 background-position: 0 -575px;
	 background-repeat:no-repeat;
	 display:block;
	 text-decoration:none;
	 padding-left:40px;
	 color:#7c5013;
	}
	#page #footer ul li.section ul li.location{
	 background: url("../images/icon.gif");
	 background-position: 0 -347px;
	 background-repeat:no-repeat;
	 display:block;
	 text-decoration:none;
	 padding-left:40px;
	 color:#7c5013;
	 height:40px;
	}
	#page #footer ul li.section ul li.location p{
	 line-height:20px;
	 width: 190px;
	 vertical-align:text-top;
	}
 
/***************End of Footer Style *********************/

  #page #footnote{
     width:960px;
     margin:0 auto;	 
	 height:100px;
	 line-height:100px;
	 text-align:center;
	 color:#796075;
   }